/* body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 155px; 
    /* 헤더 높이 만큼 추가 */
  /* } */


/* 
  .content {
    padding: 20px;
    background-color: #f2f2f2;
    margin-top: 40px; /* 헤더와 겹치지 않게 마진 추가 */
 /* } */