

navbar {
  background-color: white;
  color: white;
  /* padding: 10px; */
  border-color: black;
  width: 100%;
  margin-top: 20px;
  margin-bottom:10px;
  /* z-index: 1000; */
  /* position:fixed; */
}

hiddennavbar {
  background-color:  white;
  color: white;
  /* padding: 10px; */
  border-color: black;
  width: 100%;
  /* margin-top: -20px; */
   margin-bottom:-110px; 
  z-index: 1000;
  position:fixed;
}



.Today{
  color: black;
}
nav {
  margin-bottom: 10px;
}

nav ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ol li {
  display: inline;
  margin-right: 10px;
}

nav ol li a {
  color: black;
  text-decoration: none;
}


ul {
  list-style:none;
  margin:0;
  padding:0;
}

li {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border : 0;
  float: left;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline;
  margin-right: 10px;
}

ul li a {
  color: black;
  text-decoration: none;
}

.Mypage_Logout,
.Login_Signup {
  margin-top: 10px;
}

hr {
  border: none;
  border-top: 1px solid black;
}


.custom-link {
  color: white;
  fill :white;
  text-decoration: none;
}

.custom-link:hover {
  color: skyblue;
  fill: skyblue;
}

.custom-link:active {
  color: red;
  fill: red;
}







