.table-container {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;

}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-container th, .table-container td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px; /* 패딩을 줄입니다 */
    white-space: nowrap; /* 셀 내용이 줄 바꿈되지 않도록 합니다 */
}

.table-container th {
    background-color: #f2f2f2;
}

.table-container tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-container tr:hover {
    background-color: #f1f1f1;
}

.table-container .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px; /* 패딩을 줄입니다 */
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; /* 폰트 크기를 줄입니다 */
    margin: 2px 1px; /* 마진을 줄입니다 */
    cursor: pointer;
}

.table-container .button:hover {
    background-color: #45a049;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    margin: 0 4px;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
